nav {
    display: inline-block;
    width: 100%;
    list-style-type: none;
    border: 2px solid black;

    text-align: center;
    text-decoration: none;
    padding: 10px;
}

nav li {
    display: inline;
}