/*Hello This is where 
all the Magic happens.
Within this CSS File*/
body {
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;

}

nav {
    list-style-type: none;
    border: 2px solid black;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    color: black;
    padding: 10px;
    text-decoration: none;
}