<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/normalize.css">
</head>
<body ng-app="app" ng-controller="mainCtrl">

<nav>
<ul>
    <li class="home-lnk" ng-click="backHome()">Home</li>
    <li class="about-lnk" ng-click="aboutView()">About</li>
    <li class="contact-lnk" ng-click="contactView()">Contact</li>
</ul>
</nav>

<script src="js/vendor/angular.js"></script>
<script src="js/vendor/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/Controllers/MainController.js"></script>
</body>
</html>